<%- include('../partials/header.ejs', {title: 'Thank You'}) %>

<section class="thank-you-section">
    <div class="thank-you-message">
        <h2>Thank You for Contacting Us!</h2>
        <p>Your message has been received!</p>
        <div class="actions">
            <a href="/" class="btn home-btn">Return to Home</a>
            <a href="/events" class="btn events-btn">Check Out Our Events</a>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>